.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-input {
      width: 100%;
      padding: 12px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    &-button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #4caf50;
      color: white;
      font-size: 16px;
      margin-bottom: 16px;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  &__error {
    color: red;
    font-size: 14px;
    margin-top: 16px;
  }

  &__google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    margin-top: 16px;
    background-color: white;
    color: #757575;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #dadce0;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &__google-icon {
    margin-right: 8px;
    color: #db4437; // Google's red color
    font-size: 20px;
  }

  &__register {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
    color: #757575;

    &-link {
      color: #1a73e8;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url("../../assets/background.png"); // Background image path
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
